@using Credinissan.Affinity.Web.Data.DataObject;
@{
    ViewBag.Title = "Solicitud";
    Solicitud solicitud = ViewBag.Solicitud;

}
<div id="mensajes">

    @if (ViewBag.Error != null)
    {

        <div class="alert alert-danger"> <i class="glyphicon glyphicon-exclamation-sign"></i> @ViewBag.Error</div>
    }
    @if (ViewBag.Exito != null)
    {
        <div class="alert alert-success"><i class="glyphicon glyphicon-thumbs-up"></i>  @ViewBag.Exito</div>
    }

    @if (ViewBag.Info != null)
    {

        <div class="alert alert-info">
            <i class="glyphicon glyphicon-info-sign"></i>@ViewBag.Info
        </div>

    }

</div>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

<style>
    .lbl-rut-invalido {
        color: red;
        width: 120px;
        position: relative;
        padding-left: 20px;
    }
</style>

<style>
    .accordion {
        background-color: #eee;
        border: 1px solid #ddd;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        /*border: none;*/
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
    }

        .active, .accordion:hover {
            background-color: #ccc;
        }

    .panel {
        padding: 0 18px;
        display: none;
        background-color: white;
        overflow: hidden;
    }
</style>

<div class="w3-padding-16">
    <h1>Solicitud</h1>
</div>

@foreach (Contratante contratante in solicitud.Contratantes)
{
    int i = contratante.Id;
    string accordionTitle = "";
    if (i > 0)
    {
        string[] rut = contratante.Rut.Split('-');
        accordionTitle = ": " + contratante.Nombre + " " + contratante.ApPaterno + " " + contratante.ApMaterno + " (" + int.Parse(rut[0]).ToString("#,#") + "-" + rut[1] + ")";
    }

    <button id="accordion_@i" class="accordion" value="@i">
        <h4>
            @if (i > 0)
            {
                <i class="w3-text-green w3-xlarge fa fa-user-circle-o"></i>

            }
            else
            { <i class="w3-xlarge fa fa-user-circle-o"></i>}

            &nbsp; @contratante.TipoContratante.ToString().ToUpper()  <span style="width:300px;" id="accordion_title_@i">@accordionTitle.ToUpper() </span>
        </h4>
    </button>
    <div class="panel" id="panel_@i">
        <form id="form_@i" action="/Solicitud/SaveContratante" method="post">

            <div class="w3-padding-32">

                <div class="row">
                    <div class="col-md-4">
                        <div class="w3-section">
                            <label>RUT</label><label id="lbl_rut_titular_@i" for="rut_@i" class="lbl-rut-invalido w3-hide">Rut inválido</label>
                            <input class="form-control rut" id="rut_@i" name="rut" type="text" placeholder="12345678-K" value="@contratante.Rut" required>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="w3-section">
                            <label>ApPaterno</label>
                            <input class="form-control" id="apPaterno_@i" name="apPaterno" type="text" value="@contratante.ApPaterno" aria-invalid="true" required>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="w3-section">
                            <label>ApMaterno</label>
                            <input class="form-control" id="apMaterno_@i" name="apMaterno" type="text" value="@contratante.ApMaterno" required>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="w3-section">
                            <label>Nombres</label>
                            <input class="form-control" id="nombre_@i" name="nombre" type="text" value="@contratante.Nombre" required>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="w3-section">
                            <label>Fecha Nacimiento</label>
                            <input class="form-control" type="date" required name="fechaNacimiento" id="fechaNacimiento_@i" value="@contratante.FechaNacimiento.ToString("yyyy-MM-dd")" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="w3-section">
                            <label>Nacionalidad</label>
                            <select class="form-control" name="nacionalidad" id="nacionalidad_@i">
                                <option selected value="56">CHILENO(A)</option>
                                <option value="0">EXTRANJERO(A)</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="row">

                    <div class="col-md-4">

                        <div class="w3-section">
                            <label>Estado Civil</label>
                            <select id="estadoCivil_@i" name="estadoCivil" class="form-control">
                                <option value="0">Soltero</option>
                                <option value="1">Casado</option>
                                <option value="2">Divorciado</option>
                                <option value="3">Viudo </option>
                            </select>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="w3-section">
                            <label>Dirección</label>
                            <input class="form-control" type="text" required id="direccion_@i" name="direccion" value="@contratante.Direccion" />
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="w3-section">
                            <label>Comuna</label>
                            <div class="autocomplete">
                                @if (contratante.Comuna == null)
                                {
                                    <input class="form-control" id="comuna_@i" type="text" required name="comuna" value="" placeholder="Comuna">
                                }
                                else
                                {
                                    <input class="form-control" id="comuna_@i" type="text" required name="comuna" value="@contratante.Comuna.Nombre" placeholder="Comuna">
                                }
                            </div>
                        </div>
                    </div>


                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="w3-section">
                            <label>Email</label>
                            <input class="form-control" required type="email" id="email_@i" name="email" value="@contratante.Email" />
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="w3-section">
                            <label>Teléfono</label>
                            <input class="form-control" type="tel" required id="telefono_@i" name="telefono" value="@contratante.Telefono" />
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="w3-section">
                            <label>Actividad/cargo</label>
                            <input class="form-control" type="text" id="actividad_@i" name="actividad" required value="@contratante.Actividad" />
                        </div>
                    </div>

                </div>
                <div class="row">


                    <div class="col-md-4">
                        <div class="w3-section">
                            <label>Tipo Trabajador</label>
                            <select id="tipoTrabajador_@i" name="tipoTrabajador" class="form-control">
                                <option value="1">Dependiente</option>
                                <option value="2">Independiente</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="w3-section">
                            <label>Renta/Ingreso mensual</label>
                            <input class="form-control" type="number" id="renta_@i" name="renta" required value="@contratante.Renta" />
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="w3-section">
                            <label>Antigüedad laboral (ingreso)</label>
                            <input class="form-control" type="date" id="fechaInicioActividad_@i" name="fechaInicioActividad" required value="@contratante.FechaInicioActividad.ToString("yyyy-MM-dd")" />
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="w3-section">
                            <label>RUT Empleador <label id="lbl_rut_empleador_@i" for="rutEmpleador_@i" class="lbl-rut-invalido w3-hide">Rut inválido</label></label>
                            <input class="form-control rut" id="rutEmpleador_@i" name="rutEmpleador" type="text" placeholder="12345678-K" value="@contratante.RutEmpleador">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="w3-section">
                            <label>Nombre empleador</label>
                            <input class="form-control" id="nombreEmpleador_@i" name="nombreEmpleador" type="text" value="@contratante.NombreEmpleador">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="w3-section" style="padding-top:25px;">
                            <input type="hidden" name="tipoContratante" value="@contratante.TipoContratante" />
                            <input id="idCotizacion" type="hidden" name="idCotizacion" value="@ViewBag.IdCotizacion" />
                            <input id="idContratante" type="hidden" name="idContratante" value="@contratante.Id" />
                            <button type="submit" class="w3-button red-nissan">Guardar @contratante.TipoContratante </button>

                            @Html.ActionLink("Cancelar", "Index", new { idCotizacion = ViewBag.IdCotizacion }, new { @class = "w3-button texto-red-nissan", @style = "background-color: white; border: 1px solid #C11718;" })
                        </div>
                    </div>



                </div>

            </div>
        </form>
    </div>

}

<div class="w3-padding-64">
    <a class="w3-center w3-hide" id="btnAddAval" value="0"><h4><i class="fa fa-user-plus texto-red-nissan w3-xlarge"></i> agregar @solicitud.Contratantes.Last().TipoContratante.ToString().ToUpper()</h4></a>

</div>

<div class="w3-padding-64">
    <div class="w3-padding-64">

        <button type="button" class="3-button w3-block w3-padding-large red-nissan w3-margin-bottom" data-bs-toggle="modal" data-bs-target="#myModal">
            Enviar solicitud
        </button>

    </div>
</div>

<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Envío a evaluación</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <form action="/Solicitud/SendToEvaluate" method="post" >
                <!-- Modal body -->
                <div class="modal-body w3-padding-32">

                    <h5>Estas a punto de enviar esta solicitud a evaluación</h5>
                    <h5>¿Deseas continuar?</h5>

                    <input id="idCotizacion" type="hidden" name="idCotizacion" value="@ViewBag.IdCotizacion" />

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="w3-button red-nissan">Enviar solicitud</button>
                    <button type="button" class="w3-button texto-red-nissan" style="background-color: white; border: 1px solid #C11718;" data-bs-dismiss="modal">Cancelar</button>


                </div>
            </form>

        </div>
    </div>
</div>



<script src="~/Scripts/jquery-3.6.4.min.js"></script>

<script>

$(document).ready(function () {

    $.post("@Url.Action("GetComunas")", null,

        function (data, status) {
            if (status == 'success') {
                @foreach (Contratante cont in solicitud.Contratantes)
                {
                    @:autocomplete(document.getElementById("comuna_@cont.Id"), data);

                }
            }
        });

         @foreach (Contratante cont in solicitud.Contratantes)
         {
             if (cont.Id > 0)
             {
              @:$("#panel_@cont.Id").css("display", "none"); ;
             }
         }

    $("#accordion_0").addClass("w3-hide");
    $("#btnAddAval").removeClass("w3-hide");
    //

    });




    $("#btnAddAval").click(function () {


        $("#accordion_0").removeClass("w3-hide");
        $("#btnAddAval").addClass("w3-hide");
        $("#panel_0").css("display", "block");

    });



    $(".rut").change(function () {

        if ($(this).val() == '')
            return;

        $(this).val($(this).val().replace('-', ''));

        $(this).val($(this).val().substring(0, $(this).val().length - 1) + '-' + $(this).val().substring($(this).val().length - 1));

        var labels = document.getElementsByTagName('LABEL');
        for (var i = 0; i < labels.length; i++) {
            if (labels[i].htmlFor == this.id) {

                if (Fn.validaRut($(this).val())) {
                    $("#" + labels[i].id).addClass('w3-hide')
                }
                else {
                    $("#" + labels[i].id).removeClass('w3-hide')

                }

            }
        }

    });


    var Fn = {
        // Valida el rut con su cadena completa "XXXXXXXX-X"
        validaRut: function (rutCompleto) {
            if (!/^[0-9]+[-|‐]{1}[0-9kK]{1}$/.test(rutCompleto))
                return false;
            var tmp = rutCompleto.split('-');
            var digv = tmp[1];
            var rut = tmp[0];
            if (digv == 'K') digv = 'k';
            return (Fn.dv(rut) == digv);
        },
        dv: function (T) {
            var M = 0, S = 1;
            for (; T; T = Math.floor(T / 10))
                S = (S + T % 10 * (9 - M++ % 6)) % 11;
            return S ? S - 1 : 'k';
        }
    }



</script>

<script>
    function autocomplete(inp, arr) {
        /*the autocomplete function takes two arguments,
        the text field element and an array of possible autocompleted values:*/
        var currentFocus;
        /*execute a function when someone writes in the text field:*/
        inp.addEventListener("input", function (e) {
            var a, b, i, val = this.value;
            /*close any already open lists of autocompleted values*/
            closeAllLists();
            if (!val) { return false; }
            currentFocus = -1;
            /*create a DIV element that will contain the items (values):*/
            a = document.createElement("DIV");
            a.setAttribute("id", this.id + "autocomplete-list");
            a.setAttribute("class", "autocomplete-items");
            /*append the DIV element as a child of the autocomplete container:*/
            this.parentNode.appendChild(a);
            /*for each item in the array...*/
            for (i = 0; i < arr.length; i++) {
                /*check if the item starts with the same letters as the text field value:*/
                if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                    /*create a DIV element for each matching element:*/
                    b = document.createElement("DIV");
                    /*make the matching letters bold:*/
                    b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                    b.innerHTML += arr[i].substr(val.length);
                    /*insert a input field that will hold the current array item's value:*/
                    b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                    /*execute a function when someone clicks on the item value (DIV element):*/
                    b.addEventListener("click", function (e) {
                        /*insert the value for the autocomplete text field:*/
                        inp.value = this.getElementsByTagName("input")[0].value;
                        /*close the list of autocompleted values,
                        (or any other open lists of autocompleted values:*/
                        closeAllLists();
                    });
                    a.appendChild(b);
                }
            }
        });
        /*execute a function presses a key on the keyboard:*/
        inp.addEventListener("keydown", function (e) {
            var x = document.getElementById(this.id + "autocomplete-list");
            if (x) x = x.getElementsByTagName("div");
            if (e.keyCode == 40) {
                /*If the arrow DOWN key is pressed,
                increase the currentFocus variable:*/
                currentFocus++;
                /*and and make the current item more visible:*/
                addActive(x);
            } else if (e.keyCode == 38) { //up
                /*If the arrow UP key is pressed,
                decrease the currentFocus variable:*/
                currentFocus--;
                /*and and make the current item more visible:*/
                addActive(x);
            } else if (e.keyCode == 13) {
                /*If the ENTER key is pressed, prevent the form from being submitted,*/
                e.preventDefault();
                if (currentFocus > -1) {
                    /*and simulate a click on the "active" item:*/
                    if (x) x[currentFocus].click();
                }
            }
        });
        function addActive(x) {
            /*a function to classify an item as "active":*/
            if (!x) return false;
            /*start by removing the "active" class on all items:*/
            removeActive(x);
            if (currentFocus >= x.length) currentFocus = 0;
            if (currentFocus < 0) currentFocus = (x.length - 1);
            /*add class "autocomplete-active":*/
            x[currentFocus].classList.add("autocomplete-active");
        }
        function removeActive(x) {
            /*a function to remove the "active" class from all autocomplete items:*/
            for (var i = 0; i < x.length; i++) {
                x[i].classList.remove("autocomplete-active");
            }
        }
        function closeAllLists(elmnt) {
            /*close all autocomplete lists in the document,
            except the one passed as an argument:*/
            var x = document.getElementsByClassName("autocomplete-items");
            for (var i = 0; i < x.length; i++) {
                if (elmnt != x[i] && elmnt != inp) {
                    x[i].parentNode.removeChild(x[i]);
                }
            }
        }
        /*execute a function when someone clicks in the document:*/
        document.addEventListener("click", function (e) {
            closeAllLists(e.target);
        });
    }


</script>

<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
                panel.style.display = "none";
            } else {
                panel.style.display = "block";
            }
        });
    }
</script>
